::selection {
    background: #ccff00; /*rgba(255, 193, 7, 0.5); #ffc107;*/
    color: #000;
}

textarea.form-control {
    height: 38px !important;
}

textarea.form-control-sm {
    height: 31px !important;
}

[data-sidebar]::-webkit-scrollbar {
    width: 5px;
}

/*-- sidebar menu scroll*/
/* Track */
[data-sidebar]::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
}
/* Handle */
[data-sidebar]::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 2px;
}
    /* Handle on hover */
    [data-sidebar]::-webkit-scrollbar-thumb:hover {
        background: #28a745;
    }

[data-sidebar]::-webkit-scrollbar {
    width: 5px;
}
/* Track */
[data-sidebar]::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
}
/* Handle */
[data-sidebar]::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 2px;
}
    /* Handle on hover */
    [data-sidebar]::-webkit-scrollbar-thumb:hover {
        background: #28a745;
    }

/*-- body scroll*/
body::-webkit-scrollbar {
    width: 6px;
}
/* Track */
body::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
    background: #17a2b8;
    border-radius: 2px;
}
    /* Handle on hover */
    body::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

/* Print Button */
print {
    cursor: pointer;
    color: #ffffff !important;
    background-color: #966FD6 !important;
    border-color: #966FD6 !important;
    box-shadow: none;
}
    print:hover {
        color: #ffffff !important;
        background-color: #8159c2 !important;
        border-color: #8159c2 !important;
    }
@media (max-width: 600px) {
    print {
        display: none !important;
    }
}
/* End Print Button */

/* PDF Button */
pdf {
    cursor: pointer;
    box-shadow: none;
    color: #bb0012 !important;
    border-color: #bb0012 !important;
}
    pdf:hover {
        color: #fff !important;
        background-color: #bb0012 !important;
        border-color: #bb0012 !important;
    }
/* End PDF Button */

/* Back To Top Button */
.back-to-top {
    bottom: 2.95rem;
    right: 0.85rem;
    z-index: 1;
}
/* End Back To Top Button */

.form-control-sm {
    border: 1px solid #ced4da;
}

/* Print pop-up design */
@media print {
    @page {
        margin: 1.5cm;
    }

    body * {
        visibility: hidden;
    }

    [data-print="true"], [data-print="true"] * {
        visibility: visible;
    }

    [data-print="true"] {
        position: absolute;
        left: 0;
        top: 0;
    }
}
/* End Print pop-up design */

/* Loader design */
.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff99;
    /*z-index:10000;*/
}
.loader {
    left: 50%;
    margin-left: -5em;
    font-size: 11px;
    border: 1.5em solid rgba(218, 219, 223, 1);
    border-left: 1.5em solid rgba(255, 193, 7, 1);
    animation: spin 0.42s infinite linear;
}
    .loader, .loader:after {
        border-radius: 50%;
        width: 8.7em;
        height: 8.7em;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -4.05em;
    }
@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
/* End Loader design */