@using JicoDotNet.Inventory.UI.Report.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
@model TaxReportModels

@{
    ViewBag.Title = "Output GST";
    ViewBag.Page = "/Report/Purchase/Vendor";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Output GST (Sales GST)</h1>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "Report" })">Report</a></li>
                    <li class="breadcrumb-item active">Output GST</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Not Applicable
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="callout callout-warning mb-0">
                                    <h5><i class="icon fas fa-exclamation-triangle"></i> Not Applicable!</h5>
                                    <p>
                                        Your Organization "<strong>@Model._companyBasic.CompanyName</strong>" doesn't have any GST number. It's not GST registred Company/Organization.
                                        <br />
                                        However, if you want to add your GST number for your
                                        "<strong>@Model._companyBasic.CompanyName</strong>",
                                        Update from <a href="#" class="text-primary"><strong>here</strong> <i class="fas fa-external-link-alt"></i></a>
                                        <br />
                                        or contact with sales team: <a href="mailto:sales@itemblob.in">sales@@itemblob.in</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
