<footer class="main-footer text-sm">
    <strong>Developed by <a href="https://github.com/JicoDotNet" target="_blank">JicoDotNet</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> @{Version v = typeof(JicoDotNet.Inventory.UI.MvcApplication).Assembly.GetName().Version;}
        @(v.Major + "." + v.Minor + "." + v.Build)
        <small class="ml-2 text-success">Make in India</small>
    </div>
</footer>