<div style="width: 100%; display: flex; flex-wrap: wrap; font-family: Ubuntu, 'WebFont-Ubuntu'; color: #3c3c3c; font-size: 8pt; line-height: 1.2; border-top: 1px solid #000;">
    <div style="width: 100%; flex: 0 0 100%; text-align: center; margin: 3px 0;">
        <div style="font-style: italic; color: #000;">This is online software generated.</div>
        <div style="font-style: italic; color: #000;">
            Online Inventory/Billing Software:
            <a style="color: #3c3c3c; text-decoration:none; font-family: Arial;" target="_blank" href="https://github.com/JicoDotNet/Full-Inventory-by-Asp-Net-Azure">https://github.com/JicoDotNet</a>
        </div>
    </div>
</div>