

<div class="row" style="border-top: 1px solid #c8d3de;">
    <div class="col-md-12 text-center">
        <small><i style="font-size: 8pt;color:#000;">This is online software generated. ITEM Blob</i></small>
        <p style="margin-bottom: 2px; margin-top:-10px;"></p>
        <small><i>Online Inventory/Billing Software: <a target="_blank" href="http://itemblob.in">http://itemblob.in</a></i></small>
    </div>
</div>
