@using JicoDotNet.Inventory.UI.Models;
@model ErrorModels

<section class="content">
    <div class="error-page" style="max-width:350px;">
        <div class="error-content ml-0">
            <h3><i class="fas fa-exclamation-triangle text-danger text-wrap"></i> Oops! Something went wrong.</h3>
            <p class="text-dark">HTTP Status: @Model.ErrorStatus</p>
            <p class="text-danger mb-0"><span class="text-dark">Error Code: </span>@Model.ErrorCode</p>
            <p class="text-wrap text-danger"><span class="text-dark">Message: </span>@Model.Message</p>
            <p class="text-wrap">
                We will work on fixing that right away.<br />
                Meanwhile, you may <a href="@Url.Action("Index", "Home")">return to Home</a>.
            </p>
        </div>
    </div>
</section>