@using JicoDotNet.Inventory.UI.Models;
@model RedirectModels

@{
    ViewBag.Title = "Authenticating";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card" style="margin-top:50%;">
                    <div class="card-header  bg-cyan">
                        <h5 class="card-title m-0">Authenticating...</h5>
                    </div>
                    <div class="card-body">
                        <div class="overlay text-center m-4">
                            <i class="fas fa-sync-alt fa-spin fa-3x"></i>
                        </div>
                    </div>
                    <div class="card-footer">
                        Please Wait...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section BodyScript{
    <script type="text/javascript">
        setTimeout(function(){ location.href = '@Model._redirectUrl'; }, 1000);
    </script>
}