<div class="card-body">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                <p>
                    You can not add Opening Stock for this Product.
                    Because this Product either already
                    received <a href="@Url.Action("Index", "GRN")"><strong>(GRN)</strong></a> or
                    delivered <a href="@Url.Action("Index", "Shipment")"> <strong>(Shipment)</strong></a>.
                </p>
                <br />
                <p>
                    However, if you want to add Stock of this Product.
                    You can add from <a href="@Url.Action("Adjust", "Stock")"><strong>Stock Adjust</strong></a>
                </p>
            </div>
        </div>
    </div>
</div>
