@using JicoDotNet.Inventory.UI.Models;
@using JicoDotNet.Inventory.BusinessLayer.DTO.Class;
 
@model SessionCredentialCompanyModels

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" style="max-height: 3rem;">
    <div class="container">
        <a href="javascript: void(0);" class="navbar-brand">
            <img src="~/Content/images/icon.png" alt="Inventory Solution Logo" class="brand-image img-circle elevation-3">
            <span class="brand-text font-weight-light">Inventory Solution</span>
        </a>

        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown user-menu">
                <a href="javascript: void(0);" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="@(string.IsNullOrEmpty(Model._sessionCredential.UserImageUrl)? "" : Model._sessionCredential.UserImageUrl)"
                         class="user-image img-circle elevation-2" alt="@Model._sessionCredential.UserFullName Image" style="margin-top: -10px;">
                    <span class="">@Model._sessionCredential.UserFullName</span>
                    <i class="fas fa-power-off"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="width: 120px; min-width: 120px;">
                    <div class="card card-widget widget-user-2 mb-0">
                        <div class="row" style="padding:15px;">
                            <div class="col-md-12">
                                <div class="float-right">
                                    <a href="@Url.Action("Index", "Logout", new { area = string.Empty })" class="btn btn-outline-danger btn-sm"><i class="fas fa-power-off"></i> Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
