@model JicoDotNet.Inventory.Core.Common.DateRange


<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="callout callout-danger">
            <h5><i class="icon fas fa-exclamation-triangle text-danger"></i> Date Range Alert!</h5>
            <p>
                You are allowed to get report for max one year. And <b>Start Date</b> should be previous date than <b>End Date</b>.
                <br />
                You entered <b>@Model.StartDate.Value.ToDisplayShortDateString()</b> to <b>@Model.EndDate.Value.ToDisplayShortDateString()</b>
            </p>
        </div>
    </div>
</div>