# This workflow will build a .NET Framework 4.8.1 project

name: .NET 4.8.1 CI

on:
  workflow_dispatch:  # Allows manual triggering
  push:
    branches:
      - master                      # Specific branch (master)
      - develop                     # Specific branch (develop)
      - 'feature/*'                 # Any branch that starts with 'feature/'
      - 'release/*'                 # Any branch that starts with 'release/'
  pull_request:
    branches:
      - master                      # Trigger on pull requests to the master branch
      - develop                     # Trigger on pull requests to the develop branch
      - 'feature/*'                 # PRs to feature branches
      - 'release/*'                 # PRs to release branches

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Set up NuGet
        uses: NuGet/setup-nuget@v1  # Use the latest stable version

      - name: Restore NuGet packages
        run: |
          nuget restore src/JicoDotNet.Inventory.sln -SolutionDirectory src/

      - name: Build solution, excluding SQLServer project
        run: |
          msbuild src/JicoDotNet.Inventory.sln /p:Configuration=Release /p:ExcludeProjects="src\JicoDotNet.SQLServer\JicoDotNet.SQLServer.sqlproj"

      - name: Upload Release Files
        if: success()  # Only run this step if the previous steps were successful
        uses: actions/upload-artifact@v3
        with:
          name: Release Files
          path: |
            src/JicoDotNet.Inventory.UI/bin/Release/  # Adjust this path based on your output location
